* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Tahoma, Verdana, sans-serif;
    scrollbar-width: none;
   /* background-color: #000; */
}

body {
    /* cursor: url(sward.png),auto; */
    height: 100vh;
    background-color: black;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0px;
    z-index: 10;
    left: 0px;
    right: 0px;
}

.header_content {
    /* background:linear-gradient(to right,#620172,#d900ff,aqua ,rgb(2, 117, 117)) #242424; */
    display: flex;
    
    background: black;
    background-size: cover;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    position: relative;
    top: 0px;

}

#search-input {
 
    /* color: #03e9f4; */
    outline: none;
    border: none;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    height: 150%;
    margin-top: 20%;
    position: sticky;
    border-radius: 30px;
    color: #03e9f4;
    padding-left: 10px;
    /* left: 5//00px; */
    margin-left: 50%;
}

.fa-magnifying-glass {
    position: relative;
    bottom: 25px;
    left: 100px;
    color: #50d9eb;
}

.logo {
    color: #ffffff;
    position: absolute;
    left: 10px;
    padding-left: 20px;
}

#signup_butt  {
    padding: 5px 10px;
    color:#50d9eb;
    background: #171717;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
    position: absolute;
    right: 10px;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);

}#signout_butt {    display: block;
    padding: 8px;
    color: #50d9eb;
    bottom: 10%;
    background: black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
    position: absolute;
    right: 10%;
    border: 2px solid #50d9eb;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);

}

.user-details {
    /* position: relative; */
    top: 50px;
    /* color: rgb(255, 255, 255); */
    width:500px;border-radius: 40px;
    font-size: 10px;
    margin-left: 10px;
    /* background: linear-gradient(45deg, #fd6bff, #000000, #00d2ff); */

 h1{
    /* box-shadow:  inset 30px 10px 10px rgb(104, 104, 104); */
    /* font-size: 50px; */
    /* font-weight: bold; */
    background: linear-gradient(45deg, #000000, #fb7cff, #00d2ff);
    background-size: 400% 400%;
    -webkit-background-clip: text;  /* For Safari */
    background-clip: text;
    color: transparent; /* Make the text transparent to reveal the gradient */
     animation: gradientAnimation 5s ease infinite;  
 } 
    } 
 /* Keyframes for gradient animation */
 @keyframes gradientAnimation { 
     0% { 
       background-position: 0% ; 
     } 
     100% { 
       background-position: 100% ;    }} 

.fa-user {
    color: white;
    border: 3px solid white;
    border-radius: 50%;
    padding: 8px 5px 0px 5px;
    cursor: pointer;
    margin: 5px 5px 5px 5px;

}

.user-box {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 50px;
}

#signout-q {
    display: none;
    position: absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #000;
    top: 40%;
    color: rgb(27, 218, 243);
    box-shadow: 0 15px 25px rgba(255, 22, 22, 0.607);

}

/* #no {
    box-shadow: 0 0 5px #e35151, 0 0 15px #e35151, 0 0 25px #e35151 0 0 100px #e35151;

    background-color: rgb(136, 0, 0);
    padding: 10px 20px 10px 20px;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

#yes {
    background-color: rgb(13, 125, 7);
    box-shadow: 0 0 5px #8aff8e, 0 0 15px #8aff8e, 0 0 25px #8aff8e 0 0 100px #8aff8e;

    padding: 10px 20px 10px 20px;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
} */
html{
    background-color: #000;
}
main {background-color: #000;
    position: absolute;
    top: 50px;
    left: 0px
}

/* .aside_main {
    display: flex;
    flex-shrink: 1;

} */
/* 
aside {
    position: fixed;
    top: 40px;
    bottom: 0px;
} */

#rows {
    /* justify-content: space-evenly; */
    overflow-x: hidden;
    left: 0.5%;
   
    gap: 100px;
    position: absolute;
    top:  21%;
    padding: 0px 50px 50px 50px;
    /* box-shadow:  black  0px 20px 30px -10px ; */

}

#rows h1 {
    color: #50d9eb;
    text-shadow: 5px 5px 5px #000;
}

#row {
    display: flex;
    /* Use flexbox for the container */
    flex-wrap: wrap;
    /* Allow items to wrap to the next line */
    gap: 50px;
    /* Add space between grid items */
    padding: 20px;
    /* Optional: Add padding around the grid container */
    justify-content: space-between;
    /* Distribute items evenly with space between */
}

/* Hover effect */
.row_box:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    /* Shadow on hover */
}


@media (max-width: 600px) {
    #row {
        gap: 10px;
        
    }


}



.row_box {
    /* box-shadow:
        black 0px 20px 30px -10px,
        #454545 0px -30px 50px 1px inset; */
    /* height: 400px; */
    /* align-items: center; Center align items */
    justify-content: center;
    width: 300px;height: 400px;
    background-color: #00000060;
    backdrop-filter:blur(5px);
    border-radius: 10px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    h2 {
        color: black;font-size: 29px;
        color: #54e3f6cb ;
    }

    p {
        color: white;
        font-size: 15px;
    }

}

.tittle_and_details {
    /* background-color: #54e3f6cb; */
    padding: 10px;    backdrop-filter:blur(5px);

    border-radius: 10px;
    box-shadow: 1.0px 2.1px 2.1px hsl(0deg 0% 0% / 0.47);
}

.movies_img {
    margin-bottom: 20px;
    margin-top: 20px;
    /* width: 100%; */
    height: 200px;
    /* You can adjust the height */
    object-fit: fill;
    /* Ensures the image is cropped to fit the div */
    transition: 1s;

        border: 2px solid transparent; /* Make sure the border exists */
        border-image-slice: 1; /* Use the full image (or gradient in this case) */
      &:hover{      
        border: 2px solid transparent; /* Make sure the border exists */
        scale: 1.1;
        border-image: linear-gradient(to right, rgb(255, 0, 217), rgb(0, 217, 255));
        border-image-slice: 1; /* Use the full image (or gradient in this case) */
        transition: 1s;
      }
      
    /* box-shadow: #03e9f4 0px 1px 5px, #03e9f4 0px 6px 6px; */
}

/* Carousel container */
/* #big_poster {
    position: relative;
    /* width: 100%; */
    /* overflow: hidden; */
    /* Hide overflow for sliding effect */
    /* margin-bottom: 20px; */
/* }  */

/* .bigg {
    width: 80vw;
} */

.carousel-container {
    /* position: absolute; */
    /* width: 80vw; */
    /* Adjust based on design preference */
    margin-top: 30px;
    /* margin-left: 5%; */
    background: linear-gradient(to right, #000, #54e3f6);
    ;
    overflow: hidden;
    /* Hide overflow for sliding effect */
    /* border-radius: 10px; */
    text-align: center;
    /* margin: 0 auto; Center the carousel */
}

.carousel {
    display: flex;
    /* width: 300%; */    background-color: #000;

    height: 50%;
    transition: transform 0.5s ease-in-out;
    /* Smooth sliding effect */
}

.carousel-images {
    display: flex;    background-color: #000;

    /* width: 100%; */
    height: 300px;   
    transition: transform 0.5s ease-in-out;
}

#carousel_images img {
    width: 90vw;    
    background-color: #000;
    /* Ensure images fill the carousel container */
    object-fit: fill;
    /* Adjust the object-fit to fill the container without stretching */
    /* border-?: 10px; */
}
.carousel-control-next {
    right: 0;
    height: 500px;
}.carousel-control-prev {
    right: 0;
    height: 500px;
}



.carousel-container {
    /* max-width: 800px; */
    /* margin: 0 auto; */
        background-color: #000;
        height: 50%; 

}

.carousel-item img {    background-color: #000;

    object-fit: cover;
     
}.carousel-inner{    background-color: #000;
    height: 50%; 

    display: flex;
    border:2px solid #242424 ;
    width: 90%;margin: 0% 5%;border-radius: 10px;
}
#carouselExampleAutoplaying{
    width: 100vw;    background-color: #000;
height: 1000px;
}
.arrow {
    position: absolute;
    top: 40%;
    width: 40px;
    transform: translateY(-100%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    z-index: 9;
    border-radius: 50%;
}

.prev {
    rotate: 90deg;
    left: 10px;
}

.next {
    rotate: 270deg;
    right: 10px;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.aside_bar {
    background: linear-gradient(to right, #000, rgb(100, 100, 100));
    /* background:url(metal_background_1305.jpg); */
    /* background: #000; */
    position: absolute;
    box-shadow: 5px 5px 20px 5px black;
    /* left: 0px; */
    /* right: 100px; */
    /* width: fit-content; */
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: space-evenly;
    /* height: 100vh; */
    border: 1px solid black;border-image: linear-gradient(to right, darkblue, lime)1;
}
.cat {
    font-family: Arial;
    color: white;
    margin: 10px;
    padding: 10px 50px 10px 50px;

    &.active {
        box-shadow: 0 0 5px #2c2c2c, 0 0 25px #2c2c2c;  /* Glowing effect */
        color: #000;  /* Text color change */
        font-weight: 600;  /* Font weight change */
        border-radius: 10px;  /* Border radius change */
        background-color: #8dedf9;  /* Background color change */
    }
    
    &:hover {
        box-shadow: 0 0 5px #2c2c2c, 0 0 25px #2c2c2c;  /* Glowing effect on hover */
        color: #000;  /* Text color change */
        font-weight: 600;  /* Font weight change */
        border-radius: 10px;  /* Border radius change */
        background-color: #8dedf9;  /* Background color change */
    }
}


.Category {
    /* -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    text-shadow: 0 0 5px #f9d135, 0 0 15px aqua, 0 0 25px aqua 0 0 100px aqua;
    font-weight: 900;
    font-size: 30px;
    font-family: Arial;
    text-align: center;
    border-radius: 2px;
    margin: 40px; */


}



.emoji {
    width: 30px;
    margin: 0px 0px -10px 20px;
}

.login-signup {
        
        z-index: 10;
        /* display: block; */
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        background-color: black;
        box-shadow: 0 15px 25px rgba(141, 237, 249, 0.607);
        border-radius: 10px;
        padding: 40px;
}

/* .blur{
    z-index: 9;position: absolute;top: 0px;right:0px;left: 0px; bottom:0px;margin: 0px ;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    background-color: rgba(5, 5, 5, 0.578);

} */
.login-signup h2 {
    margin-bottom: 35px;
    color: #04eaf4;
    padding: 0;
    text-align: center;
}

.login-signup .user-box {
    position: relative;
}

.login-signup .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
}

.login-signup .user-box label {
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    font-size: 16px;
    padding: 10px 0;
    pointer-events: none;
    transition: .5s;
}

.login-signup .user-box input:focus~label,
.login-signup .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn button {
    padding: 5px 10px;
    color: #03e9f4;
    background: #171717;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);

}



h4 {
    color: #fff;
    margin-top: 30px;
    text-align: center;
}

h4 span {
    cursor: pointer;
    text-decoration: underline;
    color: #03e9f4;
}

.forgot-pwd h4 {
    color: #03e9f4;
    text-decoration: underline;
    margin-bottom: 20px;
    cursor: pointer;
}

.loader {
    display: none;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.user-details button {
    float: right;
    padding: 20px 10px;
    background-color: #090979;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    margin-right: 40px;
    border-radius: 20px;
}


.movie-video {
    /* width: 99vw; */
    height: 50vh;
    margin-left: 1%;
    ;
}

#player {
   
    display: none;
    margin: 0px auto;
    position: fixed  ;
    top: 0PX;
    z-index: 10;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    right: 0;
    height:100%;
    background: black;
    padding: 50px;
}
#close_video_player{
    position: absolute;color: #50d9eb;top:50px;
right:50px;z-index: 11;}



#playNow{
    letter-spacing: 5px;
    border-radius: 20px;
    background-color: #50d9eb;
    color: #000;
    margin-top: 30px;
    width: 100px;
    font-size: 15px;
    font-weight: bolder;
    height: 30px;
    border: 2px solid #fff;
    /* outline-style: auto; */
    outline-style: none;
}
#player_info_page{
    
    display: flex;
    /* Use flexbox for the container */
    flex-wrap: wrap;
    /* Allow items to wrap to the next line */
    gap: 50px;
    /* Add space between grid items */
    padding: 20px;
    /* Optional: Add padding around the grid container */
    justify-content: space-between;
}
#video_player{
    display: none;
    margin: 0px auto;
    /* right: 10%;left: 10%;top: 100px; */
    position:fixed;
    top: 0PX;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: black;padding: 50px;
}
#play_butt{
    height: 200px;
    width: 200px;
    background-color: #fff;
}

.video-js {
    /* background-color: #090979; */
   width: 99%; /* left:2%;top: 1%;right: 50%; */
}

  /*#my-live-video_html5_api {
    width: 100vw;

}  */

#close_player {
    display: none;
    z-index: 12;
    /* width: 100px; */
    /* height: 100px; */
    font-size: 30px;
    position:fixed;
    left: 95%;
    right: 30px;
    top: 2%;
    color: aqua;
}
.tittle_dis {width: 400px;
    h2{color: #03e9f4;margin-bottom: 50px;margin-top:100px;
    
    }h4{text-align:left ;}
    p{color: #fff;}
}

#close_login{    position: absolute;
    right:20px;top:20px;
    color: #50d9eb;
}
#close_signup  {  position: absolute;
    right:20px;top:20px;
    color: #50d9eb;
}#close_wish{
    position: absolute;font-size: 40px;
    right:20px;top:20px;
    color: #50d9eb;           
}

#wishlist{
    background-color: #000;
    display:none;gap: 30px;height: 100%;
    position: absolute;z-index: 13;text-align: center ;top: 0;padding-top: 30px; 
    bottom: 0;right: 0;left: 0;overflow-y: scroll;
    flex-wrap: wrap;gap: 30px;
}
/* #wishPage{
    background-color: #000;
    display:none;gap: 30px;height: 100%;
    position: relative;z-index: 14;text-align: center ;top: 0;padding-top: 30px; 
    bottom: 0;right: 0;left: 0;
} */

.lit {
    display: block;
    position: fixed;
    width: 300px;
    height: 600px;
    background-color: black;
    right: 100px;
    top: 9%;
    z-index: 13;
    border-radius: 10px;
    text-align: center;
    h1{height: 100px;width: 100px;position: relative;left:35%;top:10%;
        font-size: 50px;padding:5%;border-radius: 50%;border: 2px solid black;
        background-color: #50d9eb;box-shadow: #50d9eb 0px 2px 4px 0px, #50d9eb 0px 2px 16px 0px;
    }
    
}
#profile_email{
    color: #03e9f4;position: relative;top: 150px;
    
}#profile_name{
    font-size: 40px;
    color: #03e9f4;
    position: relative;
    top:100px;
}#user_letter_div{    top: 5px;
    position: fixed;
    right: 10px;

    
}

#wishlist-container{
    display: flex;flex-wrap: wrap;gap:50px;background-color: #2b2b2b;justify-content: space-evenly  ;

}.YourWishlist{
    color: #50d9eb;font-size: 50px;text-align: center;font-weight: bold;
}
/* Style for the user_letter element */
#user_letter {
    border: 2px solid #fff;
    background-color: #50d9eb;
    border-radius: 50%;display: block;
    text-align: center;z-index: 20;    font-size: 30px;

    padding:2px 8px;position: relative;right:12%;
    cursor: pointer; /* Add cursor pointer to indicate it's clickable */
}

/* Initially, profile is hidden */
.profile {background-color: #1d1c1c;
    display: none;right: 0%;transform: rotate3d(30deg);transition: 1s;}
#wishlist-container{
overflow-y: scroll;
    
}#viewWish{
    color: #50d9eb;
    cursor: pointer;
    position: absolute;
    border: 2px solid #50d9eb;
    background-color: black;
    padding: 5px;
    bottom: 10%;
    border-radius: 5px;
    left: 10%;}
.nowish{
    color: #50d9eb;font-size: 50px;
    text-align: center

}
.viewWish{
height: 300px;
justify-content: center;
width: 290px;
/* background-color: #00000060; */
backdrop-filter:blur(5px);

color: #ffffff;
display: flex;justify-content: center;

flex-direction: column;
text-align: left;
padding: 20px;
transition: transform 0.3s ease, box-shadow 0.3s ease;

h2 {
    color: black;
}

p {
    color: white;
    font-size: 15px;
}
img{ border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    /* width: 100%; */
    height: 150px;
    /* You can adjust the height */
    object-fit: fill;
    /* Ensures the image is cropped to fit the div */
    box-shadow: #03e9f4 0px 1px 5px, #03e9f4 0px 6px 6px;

    width: 300px;
}
}.fa-regular.fa-heart {
    font-size: 24px;
    transition: color 0.3s ease;
}

.fa-regular.fa-heart.red {
    color: red;  /* Change to red when the movie is in the wishlist */
}


.fa-arrow-right-from-bracket{
    position:absolute  ;
bottom: 100px;right: 100px;
font-size: 80;
}
#close_profile
{color: #50d9eb;
    position: absolute;
    left: 20px;
    top: 20px;
 }
.Description{

}#movie_poster_title{
   margin-bottom: 50px;
    display: flex;
    
    h2{
        color: #50d9eb;
    }h4{
        color: #50d9eb;text-align: left;
    }
    p{width: 500px;
        color: #fff;
    }

}.movie_cast_title{
border-left:solid #50d9eb

;
margin-left: 100px;padding-left: 100px;
}
#comment_section{
    z-index: 50;
    position: absolute;
    right: 31%;
    top: 70%;
    color: #50d9eb;}

    .comments_list {
        right: -250%;
        position: absolute;
        top: -360%;
        background-color: rgb(153, 153, 153);
        z-index: 20;
        overflow-x: scroll;
        color: #000;
        margin-bottom: 30px;
        padding: 10px;
        border: 2px solid #50d9eb;
        border-radius: 5px;
        display:none
        ; /* Hide by default */
        transition: all 0.3s ease; /* Smooth transition */
    }
    
    .display_comments {
        display: block; /* Display the comments when the class is added */
        width: 150%; /* Full width when displayed */
        height: 500px; /* Full height when displayed */
        right: -200%;
        top: -360%;
    }
    
#comment_input{border:#50d9eb 2px solid;padding: 5px;
    height: 30px;border-radius: 5px;
}



/* ctcat */




.Category {
  cursor: pointer;
    /* font-size: 20px; */
    /* font-weight: bold; */
    /* color: #007BFF; */
    padding: 10px;
    /* border: 2px solid #007BFF; */ 
    display: inline-block;
    border-radius: 5px;
    /* background-color: #f0f8ff;  */
    color: white;

  }

  /* Style for the category list container */
  .cat-container {
     display: none; 
    /* margin-top: 10px; 
    padding-left: 0;
    list-style: none;
     max-height: 0; */left:40%;
    ;position: absolute; top: 80px;z-index: 30;
    /* overflow: hidden; */
    transition: max-height 0.5s ease, opacity 0.5s ease; 
    

animation: rotateMenu 400ms ease-in-out forwards;
transform-origin: top center;


@keyframes rotateMenu {
0% {
    transform: rotateX(-90deg)
}
70% {
    transform: rotateX(20deg) 
}
100% {
    transform: rotateX(0deg) 
}

}
  }

  /* Category item styling */
  .cat {
    padding: 10px;
    margin: 5px 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 5px;color: #000;
    display: flex;
    align-items: center;
  }

 

  .emoji {
    width: 20px;
    height: 20px;
    margin-left: 5px;
  }

  /* To make the category list appear */
  .cat-container.show {
    display: block;
    opacity: 1;z-index: 30;
    max-height: 500px; /* This value should be higher than the content height */
  }